:root {
  --font-family: 'Raleway', sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --primary-color: #FFFFFF;
  --secondary-color: #45CB85;
  --primary-shadow: #45CB85;
  --secondary-shadow: #6A7FDB;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1 {
  color: var(--secondary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  height: 50rem;
  max-width: 100%;
  margin: auto;
  background-image: url("../images/Capture.PNG");
  background-size: cover;
  background-position: 0px;
}
.hero img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  background-color: #000000;
  color: #FFFFFF;
  border-style: solid;
  border-color: #45CB85;
}

.bio h2 {
  margin-bottom: var(--bottom-margin);
  color: var(--secondary-color)
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
.more-about {
  background-color: #000000;
  padding-bottom: 3rem;
}
.more-about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 68.75rem;
  margin: auto;
}

.more-about h2 {
  padding-top: 2rem;
  color: var(--secondary-color);
  margin-bottom: 3rem;
  text-align: center;
}

.more-about p {
  color: var(--primary-color);
  line-height: var(--line-height);
  padding: 0.4rem;
  width: 30rem;
}
.skills {
  text-align: center;
  background-color: #000000;
  padding-bottom: 5rem;
}

.skill-header {
  margin-bottom: 1rem;
  color: #45CB85;
}

.skills-wrapper img {
  padding: 1.25rem;

}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  background-color: rgb(0, 0, 0);
  border-radius: 11px;
  border-style: solid;
  border-color: #45CB85;
  padding: 20px;
  margin: 10px;
}
.project-link{
  color: #000000;
}
.projects-title{
  color: #45CB85;
  text-align: center;
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 35px;
}
.projects-title-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  background-image: url("../images/Capture.PNG");
  background-size: cover;
  background-position: 70%;
}

.project-pic {
  width: 30%;
  height: 30%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}
.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-link{
  padding: 3px;
  color: #45CB85;
  border-radius: 5px;
  border: #45CB85;
  border-style: solid;
  transition: 0.5s;
}

.project-link:hover {
  background-color: #45CB85;
  color: #fff;
}

.splash-wrapper{
  width: 100%;
  height: 100%;
  background-color: #45CB85;
  justify-content: center;
  align-items: center;
}
canvas {
  position:absolute;
  top:4.8rem;
  left:0rem;
  width: 100%;
  height: 100%;
}
.splash{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.intro_box {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: #fff;
}

.explore-box{
  width: 20rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-button-wrapper{
  width: 8rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border: #45CB85;
  background-color: #000000;
  border-style: solid;
  display: flex;
  transition: 1s;
}

.explore-button{
  width: 8rem;
  height: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding: 0px;
  align-content: center;
  font-size: large;
}
.explore-button:hover{
  color: #fff;
}
.explore-button-wrapper:hover {
  background-color: #45CB85;
  color: #fff;
}

.contact {
  padding-top: 2rem;
  background-image: url("../images/Capture.PNG");
  background-size: cover;
  background-position: 60%;
  padding-bottom: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #45CB85;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  border-color: #45CB85;
  border-style: solid;
  background-color: #FFFFFF;
}
.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: #45CB85;
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #45CB85;
  font-size: 1rem;
  outline: none;
}
.input-field::placeholder {
  padding: 0.5rem;
  color: var(--secondary-color);
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  color: #45CB85;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background-color: #000000;
}
.footer-wrapper{
  height: 4rem;
}
.ti{
  font-size: xx-large;
  padding: 2rem;
  animation: 1s;
}
